<link href="{{ 'tailwind.css' | asset_url }}" rel="stylesheet">
<div id="app"></div>
<script src="{{ 'main.js' | asset_url }}"></script>
<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Preact home",
  "tag": "section",
  "class": "section",
  "settings": [

],
  "presets": [
    {
      "name": "Preact home"
    }
  ]
}
{% endschema %}