<link href="{{ 'FAQtailwind.css' | asset_url }}" rel="stylesheet">

<div id="app-faq"></div>
<script src="{{ 'mainFAQ.js' | asset_url }}"></script>
{% schema %}
{
  "name": "Preact FAQ",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "example_text",
      "label": "Example Text",
      "default": "Hello, Preact!"
    },
  ],
  "presets": [
    {
      "name": "Preact FAQ"
    }
  ]
}
{% endschema %}