
<div id="preact-home"></div>
{% schema %}
{
  "name": "Preact home",
  "tag": "section",
  "class": "section",
  "settings": [

],
  "presets": [
    {
      "name": "Preact home"
    }
  ]
}
{% endschema %}